.contacts {
    padding-top: 47px;
    background-color: rgb(68, 81, 98);
    color: rgb(255, 255, 255);
}

.contacts__title {
    margin: 0;
    margin-bottom: 23px;
    padding: 0;
    padding-left: 6px;
    font-family: 'Arial', sans-serif;
    font-size: 1.875rem;
    line-height: 1.2em;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
}

.contacts__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contacts__column {

}

.contacts__column--left {
    margin-right: 45px;
    margin-bottom: 10px;
}

.contacts__list {
    margin: 0;
    margin-bottom: 27px;
    padding: 0;
    list-style: none;
}

.contacts__item {
    margin-bottom: 17px;
}

.contacts__link {
    display: block;
    min-height: 20px;
    position: relative;
    padding-left: 30px;
    padding-top: 3px;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.contacts__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 100%;
    background-image: url('../../img/icons/simpleLandingSprite.png');
    background-repeat: no-repeat;
    background-position: -200px 0;
}

.contacts__link--icq::before {
    background-position: -400px 0;
}

.contacts__link--email::before {
    background-position: -600px 0;
}

.contacts__link--phone::before {
    background-position: -800px 0;
}

@media (max-width: 760px) {
    .contacts__column--left {
        margin-right: 0;
    }
}   