.product {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.product__column {
    width: 50%;
    margin-bottom: 44px;
    box-sizing: border-box;
}

.product__column--left {
   
}

.product__column--right {
 
}

.product__name {
    margin: 0;
    margin-top: -14px;
    padding: 0;
    margin-bottom: 26px;
    font-family: 'Arial', sans-serif;
    font-size: 3.75rem;
    line-height: 1.2em;
    font-weight: 400;
    text-shadow: 0 1 0 rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
}

.product__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.product__item {
    position: relative;
    padding-left: 40px;
    font-family: 'Arial', sans-serif;
    font-size: 1.25rem;
    line-height: 1.8em;
    color: rgb(255, 255, 255);
    text-shadow: 0 1 0 rgba(0, 0, 0, 0.3);
}

.product__item::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 5px;
    width: 25px;
    height: 20px;
    background-image: url('../../img/icons/simpleLandingSprite.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.product__imageWrapper {
    max-width: 80%; /*469px;*/
    min-height: 214px;
    margin-left: auto;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.product__image {
   height: 100%;
}

@media (max-width: 440px) {
    .product__imageWrapper {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .product__column {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .product__name {
        font-size: 1.5rem
    }

    .product__item {
        font-size: 1rem;
    }
}

@media (max-width: 1200px) and (min-width: 321px) {
    .product__name {
        font-size: calc(1.5rem + 36 * (100vw - 320px) / 880);
    }

    .product__item {
        font-size: calc(1rem + 4 * (100vw - 320px) / 880);
    }
}

@media (min-width: 1201px) {    
    .product__name {
        font-size: 3.75rem;
    }

    .product__item {
        font-size: 1.25rem;
    }
}